body {
    font-style: normal;
    font-family: Tahoma, Geneva, sans-serif;
    background: #F4F4FF;
    color: #404040;
    font-size: 1.0em;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
        display: inline-block;
        font-size: 1.3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }

h3 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 5px;
}
    
#requestdata {
    line-height: 2.5em;
}
    
#requestdata input[type="text"] {
    width: 12em;
}

#titlediv {
   line-height: 1;
    text-align: center;
    font-size: 0.8em;
}

#selector p {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

#task, #taskentry {
    display: none;
    width: 100%;
}

#taskinfo td {
    padding: 0px 20px;
}

#flightInfo {
    margin-bottom: 20px;
    display: none;
} 

#slider {
    padding-bottom: 10px;
}

#slider input[type='range'] {
    width: calc(100% - 10px);
    padding-bottom: 0px;
 /* Default padding is huge in Internet Explorer.*/;
}

div.container {
    width: 100%;
}

#showposition {
    display: table-cell;
    vertical-align: top;
    line-height: 2;
}

#statusbuttons {
    display: table-cell;
    margin-top: 0px;
    width: 150px;
}

#analyse {
    height: 3em;
    font-weight: bold;
    margin-bottom: 50px;
}

input[name="tasksource"] {

}

#setunits   select {
    position: absolute;
    left: 10em;
}

#help, #about {
    position: absolute;
    top: 10px;
    font-weight: bold;
}

#about {
    right: 10px;
}

#errorMessage {
    font-weight: bold;
    color: Red;
    margin-top: 30px;
    margin-bottom: 30px;
}


#headerInfo th {
    text-align: left;
    font-weight: bold;
}

#taskdata {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18em;
    height: 480px;
    padding: 15px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    text-align: center;
    z-index: 2000;
    background-color: white;
}

#heightDetail {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18em;
    height: 180px;
    padding: 15px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    text-align: center;
    z-index: 2000;
    background-color: white;
}

#thermalDetail {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20em;
    height: 280px;
    padding: 15px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    text-align: center;
    z-index: 2000;
    background-color: white;
}

button.floatright {
    float: right;
    margin-bottom: 5px;
}

#setenl {
    height: 350px;
}

#setaltref {
    height: 500px;
}

#enlthreshold, #enltime {
    width: 4ch;
}

#prefs {
line-height: 2em;
margin-top: -20px;
}

.dialog {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    width: 22em;
    padding: 0px 15px;
    font-size: 0.9em;
    z-index: 2000;
    background-color: white;
}

#righthalf {
    position: absolute;
    right: 0;
    visibility: hidden;
}

#sectordefs {
    height: 500px;
}

#sectordefs input[type='text'] {
    width: 3em;
}

#setunits {
    height: 350px;
}
    
#infobox {
visibility: hidden;
}

.checklabel, .modcheck  {
    display: inline-block;
}
   
.easyclose {
    line-height: 1.8em;
}

.modcheck {
	width: 25px;
        display: inline-block;
	position: relative;
}

.modcheck  label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #000000;
}

.modcheck  label::after {
       opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

.modcheck input[type=checkbox]:checked + label::after {
	opacity: 1;
}

 @media screen and (min-width: 900px) {

 h1 {
     font-size: 2em;
 }
     
input[name="tasksource"]  + label {
    display:inline-block;
    margin-right: 2em;
}
     
#righthalf, #mapwrapper  {
height:  80vh;
min-height: 25vw;
}

     
#showmap {
display: none;
visibility: hidden;
}
     
    div.halfwidth {
    display: inline-block;
    width: calc(50% - 30px);
    padding-left: 10px;
    padding-right: 10px;
}

#map,#barogram {
    max-height: 110vw;
}

#map {
    width: 100%;
    height: 80vh;
    min-height: 25vw;
    margin-bottom: 15px;
    position: sticky;
}

#barogram {
    height: 80%;
    margin-bottom: 15px;
     background: #E0FFFF;
    width: 100%;
    cursor: crosshair;
}

#headerInfo {
    border-spacing: 0.1em;
}

#flightInfo {
    float: right;
}

#mapbuttons {
display: none;
}

button.toggle {
    display: none;
}
 }
@media screen and (max-width: 900px) {
  label {
      cursor: pointer;
  }
    
input[type="radio"] {
    display:none; 
}

input[type="text"] {
    height: 30px;
}

input[type="radio"]  + label {
    display:inline-block;
    background-color:#E8E8E8;
    padding:4px 11px;
    margin: 4px 4px;
    font-family:Arial;
    font-size:16px;
}

input[type="radio"]:checked + label { 
    background-color:#BBBBBB;
}

h1 {
     font-size: 2em;
 }
    
div.halfwidth   {
    display: block;
      width: 90%;
      margin: 0 auto;
    } 
    
#righthalf, #mapwrapper  {
height:  65vh;
min-height: 25vw;
position: absolute;
background: #E0FFFF;
width: 100%;
}
    
#mapwrapper {
z-index: 10;
}

#map {
    z-index:10;
    height: 65vh;
   width: calc(100% - 60px);
    margin: 0 auto;
}

#barogram {
    cursor: crosshair;
    z-index: 1;
    height: 65vh;
    background-color: #E0FFFF;
}

#headerInfo th {
    text-align: left;
    font-weight: bold;
}

#infobox {
position: relative;
width: 100%;
visibility: hidden;
}


#showmap {
position: absolute;
left: 10px;
top: 60vh;
z-index: 25;
display: none;
}

#mapbuttons {
position: absolute;
top: 0;
right: 0;
z-index: 20;
}

#zoomdiv {
position: absolute;
left: 30px;
top: 8vh;
width: calc(100% - 70px);
background-color: white;
z-index: 1;
}

#slider {
    position: absolute;
    top: 68vh;
    width: 95%;
    padding-bottom: 10px;
}

#poswrapper {
    position: absolute;
    top: 75vh;
    margin: 0px 20px;
}

button.toggle {
float: right;
margin-top: 0px;
margin-bottom: 0px;
}

button, .inbutton,#fileControl,select  {
    height: 33px;
    font-size: 15px;
    margin: 5px;
}

#height,#thermal {
height: 45px;
}

div.colour {
background: aqua;
}

input[type=radio]  {
    height: 30px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    border-radius: 3px;
    height: 36px;
    width: 16px;
    background: #ffffff;
    margin-top: -12px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: lightgray;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: lightgray;
  border: 0.2px solid #010101;
}

}    
